<!DOCTYPE html>
<html>
  <head>
    <title>How Bad?</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <h2>enter some text below and we will analyze it for you!</h2>
    <form action="/" method="post" id="form">
      <input name="sendText" id="sendText" cols="30" rows="10"></input>
      <input type="submit" value="Analyze" id="button" />
    </form>
  </body>
</html>
