<!DOCTYPE html>
<html lang="en">
  <head>
    <title>How Bad Is It?</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
  
    <%for(let i = 0; i < result.length; i++){%>
      <h1> "<%= documents %>"</h1>
    <h2>This text is most likely: <h1><%=result[i].sentiment%></h1></h2>
    <% }%>
    <a href="/">try some different txt</a>

  </body>
</html>
