img{
    width: 500px;
}
body{
    background: lightslategray;
    color: black;
    text-align: center;
    margin-top: 100px;
}
#sendText{
    height: 20px;
    width: 30%;
    text-align: left;
}
a:hover{
    color:yellowgreen;
}
a{
    color:darkblue;
    font-size: 25px;
    text-decoration: none;
}
#button{
    background: teal;
    height: 30px;
    color: lavender;
}

